# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\apply\Desktop\JYH\OneDrive\MOOC\Coursera-Using-Python-to-Access-Web-Data\Programs that Surf the Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
